<div class="d-flex justify-content-between align-items-center">
  <p class="lead ml-0">My Films</p>
  <form
    hx-post="{% url 'add_film' %}"
    hx-target="#film-list"
    class="d-flex align-items-center"
  >
    {% csrf_token %}
    <input
      type="text"
      name="filmname"
      class="form-control-sm mr-2"
      placeholder="Enter a film"
    />
    <button type="submit" class="btn btn-success btn-sm">Add Film</button>
  </form>
</div>
<hr />
<div class="d-flex justify-content-between">
  <section class="col-6">
    {% csrf_token %} {% if films %}

    <form
      class="sortable list-group col-xs-12"
      hx-trigger="end"
      hx-post="{% url 'sort' %}"
      hx-traget="#film-list"
    >
      {% csrf_token %}
      <div class="htmx-indicator">Updating...</div>
      {% for film in films %}
      <div>
        <input type="hidden" name="film_order" value="{{film.pk}}" />
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <a hx-get="{% url 'detail' film.pk %}" hx-traget="#film-list">
            #{{ film.order }} {{ film.film.film }}
          </a>

          <span
            class="badge badge-pill badge-danger"
            style="cursor: pointer"
            hx-delete='{% url "delete_film" film.pk %}'
            hx-headers='{"X-CSRFToken":"{{csrf_token}}"}'
            hx-target="#film-list"
            hx-confirm="Are you sure you want to delete ?"
            >X</span
          >
        </li>
      </div>
      {% endfor %}
    </form>

    {% else %}
    <p>You do not have any films in your list</p>
    {% endif %}
  </section>

  <section>{% include 'partials/search.html' %}</section>
</div>
